<%= @list.name %>


<% @list.bookmarks.each do |bookmark| %>
  <li> Movie: <%= bookmark.movie.title %> </li>
  <li> Comment: <%= bookmark.comment %> </li>
  <li> Rating: <%= bookmark.movie.rating %> </li>

  <%= link_to 'Delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
<% end %>

<p><%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %></p>
<p><%= link_to 'See all lists', root_path %></p>
